header, footer{
    background:#a8e1c7;
}
.btn{
    background:#a8e1c7;
}
.media{
    background:#a8e1c7;
}

h1 {
    font-size: 32px;
}

.container-fluid {
    --bs-gutter-x: 0;
}

.card {
    min-height: 630px;
}

.error {
    border: 2px solid red;
	text-align: center;
    background-color: #e0adad;
	color: red;
	font-weight: bold;
    width: 380px;
    padding: .8rem;
    margin: 0 auto;
    margin-top: 2rem;
}

.border-2-red {
    border: 2px solid red;
}

.border-2-green {
    border: 2px solid green;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.registrado-ok,
.logeado-ok {
    text-align: center;
    width: 380px;
    margin: 0 auto;
    padding: .8rem;
    background-color: rgb(104, 212, 104);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.go-top-container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    z-index: -10;
}

.go-top-button {
    width: 0px;
    height: 0px;
    border-radius: 100%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    z-index: -10;
    position: relative;
    background-color: #a8e1c7;
}

.fa-chevron-up {
    position: absolute;
    font-size: 1.25rem;
    line-height: 1.75rem;
    top: 48%;
    left: 50%;
    color: white;
}

.go-top-button {
	transition: .2s;
	transform: translate(-50%, -50%);
}

.go-top-button .fa-chevron-up {
	transform: translate(-50%, -50%) scale(0);
	transition: .2s;
}

.show {
	z-index: 10;
}

.show .go-top-button {
	animation: popup .3s ease-in-out;
	width: 64px;
	height: 64px;
	z-index: 11;
}

.show .fa-chevron-up {
	transform: translate(-50%, -50%) scale(1);
}

@keyframes popup {
	0% {
		width: 0px;
		height: 0px;
	}

	50% {
		width: 80px;
		height: 80px;
	}

	100% {
		width: 64px;
		height: 64px;
	}
}

.btn-info {
    --bs-btn-color: #000;
    --bs-btn-bg: #a8e1c7;
    --bs-btn-border-color: #a8e1c7;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #5cdda3;
    --bs-btn-hover-border-color: #5cdda3;
    --bs-btn-focus-shadow-rgb: 11,172,204;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #1bd883;
    --bs-btn-active-border-color: #5cdda3;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #a8e1c7;
    --bs-btn-disabled-border-color: #a8e1c7;
}