.error {
    border: 2px solid red;
	text-align: center;
    background-color: #e0adad;
	color: red;
	font-weight: bold;
    padding: .8rem;
    margin-top: 2rem;
}

.border-2-red {
    border: 2px solid red;
}

.border-2-green {
    border: 2px solid green;
}

.cursor-not-allowed {
    cursor: not-allowed;
}

.registrado-ok {
    text-align: center;
    width: auto;
    margin: 0 auto;
    padding: .8rem;
    background-color: rgb(104, 212, 104);
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}